$white-copy: #fff;
$dark-bg: #202020;
$primario: #EB9205;
$deportes: #821313;
$comunidad: #3948CD;
$concierto: #8C39CD;
$teatro: #227925;
$fiesta: #981049;
$conferencia: #2980b9;

$secundario: #2f3640;
$terciario:#3B81D3;

$top-bg : #000;

$letra-white: #fff;

$letra-dark: #000;




